.formContainer {
    width: 100%;
    display: flex;
}

.todoInput {
    width: 90%;
    height: 35px;
    margin: 0 auto;
    background-color: #e2e2e2;
    font-size: 14px;
}

.addTodoBtn {
    width: 5%;
    height: 35px;
    color: white;
    background-color: #0166EF;
}