.wrap {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.todoWrap {
    width: 70%;
}