@charset "utf-8";

/* basic css */
body {
  font-family: '나눔고딕', NanumGothic, Dotum, '돋움', sans-serif;
  background-color: aliceblue;
}

body, ul, ol, li, div, a, p, table, tr, td, input, select, textarea, h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

